@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

body{
    padding: 0;
    margin: 0;
}

*{
    font-family: 'Barrio', cursive;
}

#header{
    display: flex;
}

#topo{
    width: 100%;
    font-size: 50px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    position: absolute;
    top: 71px;
    cursor: pointer;
    font-size: 90px;
    padding: 5px 10px;
    background: none;
    border: none;
    outline: none;
    color: #333;
    transition: transform 0.3s ease;
}

.hamburger:hover {
    transform: scale(1.2);
}

.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(4, 104, 59, 0.7);
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 20;
    backdrop-filter: blur(5px);
}

.sidebar ul {
    padding: 0;
    list-style-type: none;
    font-size: 32px;
}

.sidebar ul li{
    padding: 15px;
    text-decoration: none;
}
.sidebar ul li a{
    color: white;
    text-decoration: none;
}

.close{
    display: none;
}

.content {
    flex-grow: 1;
    background-color: #f2f2f2;
    padding: 15px;
}

.open {
    width: 15%;
}

.hamburger {
    position: absolute;
    top: 71px;
    cursor: pointer;
    font-size: 90px;
    padding: 5px 10px;
    background: none;
    border: none;
    outline: none;
    color: #333;
    transition: transform 0.3s ease;
}

.hamburger:hover {
    transform: scale(1.2);
}

.sidebar {
    width: 0;
    height: 0;
    border-style: solid;
}

.triangulo-container::before {
    left: 50%;
    margin-left: -10px;
    border-width: 10px 10px 0 10px;
    border-color: #00C16C transparent transparent transparent;
} */

/* .triangulo-container::after {
    left: 50%;
    margin-left: -10px;
    bottom: 0;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #00C16C transparent;
}

.triangulo-texto {
    position: relative;
    z-index: 1;
} */

.article{
    border-right: 4px solid purple;
    border-left: 4px solid greenyellow;
    color: black;
    max-width: 80%;
    text-align: start;
    margin: auto;
    padding-top: 5%;
    font-size: 32px;
    border-radius: 7%;
}


.article a, ul{
    list-style-type: none;
    text-decoration: none;
    color: #019492;

}

#content p{
    font-family: sans-serif;
}

.article p a{
    color: #019492;
}

.article_container{
    position: relative;
}

.conteudo_oculto{
    display: none;
}

.ler_mais{
    cursor: pointer;
}

.texto{
    z-index: 1;
    width: 54%;;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: left;
    transform: translate(-89%, -70%);
    /* color: white; */
}
.article_container img{
    width: 84%;
}

a:hover{
    border-bottom: 4px solid #18bbc3;
}

.exemplos h2{
    margin-left: 5px;
}

.exemplos ul{
    display: flex;
}

.exemplos li{
    margin: 10px;
}

.voltar{
    outline: none;
    border: 0;
    background-color: white;
    width: 80px;
    height: 80px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    border: 4px solid greenyellow;
    cursor: pointer;
    z-index: 999;
    visibility: hidden;
}
.voltar.active{
    visibility: visible;
    opacity: 1;
}